<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NiceForms dev</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div id="main">
    <h1 id="title">Liste des utilisateurs</h1>
    <button onclick="window.location.href='/admin'">Retour</button>
    <button id="btn_add_user" >Ajouter un utilisateur</button>
    <div id="userlist">
        <div id="output"></div>
    </div>
    
</div>
</body>
</html>
<script src='/js/admin_user.js'></script>
