<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>NiceForms</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/safety_door.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<header><script src="/js/header.js"></script></header>

<div id="main">
    <h1 id="title">Loading...</h1>
    <div class="divsection">
        <button id="create-btn">Créer un formulaire</button>
    </div>
    <div id="formlist">
        <div id="output"></div>
    </div>

</div>

<footer><script src="/js/footer.js"></script></footer>
</body>
</html>
<script src='/js/home.js'></script>
