<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>NiceForms</title>
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/safety_door.js"></script>
</head>
<body>
<header><script src="/js/header.js"></script></header>

<div id="main">
    <div class="center-div">
        <div class="box">
            <h2>Bienvenu sur Niceforms</h2>
            <p>Créez des formulaires en ligne et collectez des réponses en quelques clics !</p>
        </div>
    </div>
</div>

<footer><script src="/js/footer.js"></script></footer>
</body>
</html>
