#main {
    max-width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding-inline: 10px;
    border-bottom: 1px solid #dddddd;
}

header h1 {
    color: black;
    margin: 0;
    padding: 10px;
}

header a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.box {
    width: 900px;
}

#field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#required-message {
    color: grey;
}
