<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>NiceForms</title>
    <script src="/js/safety_door.js"></script>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/editor.css">
</head>
<body>
<header><script src="/js/header.js"></script></header>

<div id="main">
    <div class="center-div">
        <div class="box">
            <h2>
                <a id="titre">Chargement...</a>
            </h2>
            <div id="fields">
                
            </div>
            <button id="create-field">Créer une nouvelle entré</button>
            <p id="required-message"></p>
        </div>
    </div>
</div>

<footer><script src="/js/footer.js"></script></footer>
</body>
</html>
<script src="/js/editor.js"></script>
